h1 { 
    color: #40e0d0;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
p { 
    margin: 1px;
}
/*ul { 
    display: inline-block; width: 5%; 
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
     border: 5px solid white;
}*/