p {
    font-size: 1.5em;
    color: #FE7F88;
    background-image: none;
    background-color: transparent;
}

div {
  background-image: url("https://static.pexels.com/photos/203548/pexels-photo-203548.jpeg");
}

.catsandstars {
  background-image:  url("https://static.pexels.com/photos/203548/pexels-photo-203548.jpeg"), 
                     url("https://static.pexels.com/photos/203548/pexels-photo-203548.jpeg");
  background-color: transparent;
}